<h2 class="page-header">Search Book</h2>
<form action="/books" method="GET">
    <div>
        <Label>Title</Label>
        <input type="text" name="title" value="<%= searchOptions.title  %>">
    </div>
    <div>
        <Label>Published After</Label>
        <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter  %>">
    </div>
    <div>
        <Label>Published Before</Label>
        <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore  %>">
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
</form>
<br>
<div>
    <% books.forEach(book => { %>
        <div>
            <h6><%= book.title %></h6>
            <a href="/books/<%= book.id %>">
                <img height="150" width="100" src="<%= book.coverImage %>">
            </a>
        </div>
    <% }) %>
</div>
