<h2 class="page-header"><%= author.name %></h2>
<div>
    <div class="btn-row">
        <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %>
    </div>
</div>
<br>
<div>
    <% books.forEach(book => { %>
        <h4><%= book.title %></h4>
        <a href="/books/<%= book.id %>">
            <img height="150" width="100" src="<%= book.coverImage %>">
        </a>
    <% }) %>
</div>
